<tr class="nested-fields">
  <td class="p-1 boutton">
    <%= link_to_remove_association "Effacer la vidéo", f, class: 'btn btn-danger btn-xs' %>
  </td>
  <td class="p-1 w-50"><%= f.input :name, label: false, placeholder: 'Titre' %></td>
  <td class="p-1 w-50"><%= f.input :url, label: false, placeholder: 'Url' %></td>
</tr>