<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'hall1.jpg' %>);">
    <div class="bradcumbContent">
        <p>En savoir plus sur moi</p>
        <h2>Biographie</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9"

                <!-- Single Post Start -->

                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">Français</div>
                        <!-- Post Meta -->
                        <div class="post-meta d-flex mb-30">
                            <p class="post-author">Anthony Rivera</p>
                            <p class="post-author">Barython Basse</p>
                        </div>
                        <p>Anthony Rivera, baryton, diplômé du Conservatoire de Lyon et de la Haute École de Musique de Genève dans la classe de Marcin Habela, est remarqué en 2013 dans le rôle titre de la création mondiale de "Tristan", opéra de Christophe Belletante. Salué par la critique ce jeune baryton s'affirme rapidement comme un interprète de choix de divers répertoires.
                        Au printemps 2014 il chante le rôle de Bengtson dans Die Gespensetrsonate d'Aribert Reimann avec l'ensemble contrechamps. En septembre 2015 il est Klaus Mann dans la création mondiale du "Ruisseau Noir" de Guy-Francois Leuenberger puis interprète dans une création de Dominique Gesseney-Rapport, "Carlotta ou la Vaticane".</p>
                        <p>En 2015, il fût Peeperkorn dans la création mondiale de Pawel Mykietin the magic mountain à Katowice en Pologne. En 2016 il fut le rôle principal Colas de l'opéra de Bernard van Beurden Ah comme on aime avec l'orchestre ce chambre de Genève.
                        Toujours avec l'ensemble contrechamps, il interprèta Hope de Marc Sabat en 2016.
                        Récemment il fut l'interprète d'un spectacle autour de Satie au TKM avec Omar Porras et Cédric Pescia.
                        <p>Son aisance artistique en tant que comédien lui vaut de nombreuses invitations à interpréter des rôles comiques: il est Lajoie dans "La Poule noire" de Rosenthal, Marco dans "Gianni Schicchi" de Puccini, Sarmiento dans "Les bavards" d'Offenbach, Père de Famille dans "Die sieben Todsünden" de Weill, Tiger Brown dans "Die Dreigroschenoper" de Weill et Gasparo dans « Rita » de Donizetti . Il a endossé le rôle titre de Figaro dans « Le Nozze di Figaro » en Italie. À la suite il incarna le rôle d'Harrison Howell dans « Kiss me Kate ».</p>
                        <p>A plusieurs reprises il est également invité à interpréter le répertoire d'opéra baroque: il est Le Carnaval et Léandre dans "Les Fêtes vénitiennes" de Campra qu’il va interpréter de nouveau à Budapest. En 2016 le rôle d'Oreste dans "Il Giasone" de Cavalli, ainsi que la Beauté et le Magicien dans "Le Mariage forcé" de Lully/Molière. En novembre 2018 il interpréta le rôle principal Balanzone dans l’opéra la Serva Scaltra de J.A.Hasse aux côtés du célèbre ensemble de musique ancienne « la Petite Bande » en Italie puis en Belgique. Récemment il interpréta le rôle de l'envie dans Le Temple de le Gloire de JP.Rameau.</p>
                        <p>Son expérience du répertoire d'oratorio le conduit à chanter des œuvres comme "Magnificat" de Brixi, "Messe en sol" de Mozart, "Oratorio de Noël" de Saint-Saëns, "1918 - L'Homme qui titubait dans la guerre" d'Aboulker. En avril 2015 il chante Pilate dans "La Passion selon Saint Matthieu" de Bach à Genève aux côtés de Werner Güra, Stephan Macleod, Christophe Einhorn, Marcin Habela... Il a chanté en soliste la basse dans la IX ème symphonie de Beethoven à Salvador de Bahia au Brésil avec l orchestre NEOJIBA. À la suite il fit la basse solo dans la création de Lera Auerbach The Infant Minstrel and his Peculiar Menageri aux côtés de l'Orchestre de la Suisse romande.</p>
                        <p>Récemment il fut soliste avec l'OSR pour l'oratorio de noël de JS.Bach ainsi que la cantate de noël d'Arthur Honegger.</p>
                        <p>Tous ces projets l'ont donc amené à chanter avec de grands noms de la direction comme Celso Antunes, Ricardo Castro, Edward Gardner, Kazuki Yamada, Arie van Beek, Sigiswald Kuijken, Antoine Marguier, Johannes Kalitzke, Michael Wandenberg, Adam Banaszak, Jean-Jacques Kantorov, Kenneth Weiss...
                        Mais aussi avec de grand metteurs en scène de renommée internationale comme Christian Räth, Cédric Dorier, Omar Porras, Andrzej Chyra, Elsa Rooke, Jean-Denis Monory, Pierre-André Gamba, Daniel Esteve, Stephan Grögler...</p>
                    </div>
                </div>
                
            </div> 

            <div class="col-12 col-lg-3">
                <div class="blog-sidebar-area">

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Categories</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Events &amp; Press</a></li>
                                <li><a href="#">Festivals</a></li>
                                <li><a href="#">Lyfestyle</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Archive</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">February 2018</a></li>
                                <li><a href="#">March 2018</a></li>
                                <li><a href="#">April 2018</a></li>
                                <li><a href="#">May 2018</a></li>
                                <li><a href="#">June 2018</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Tags</h5>
                        </div>
                        <div class="widget-content">
                            <ul class="tags">
                                <li><a href="#">music</a></li>
                                <li><a href="#">events</a></li>
                                <li><a href="#">artists</a></li>
                                <li><a href="#">press</a></li>
                                <li><a href="#">mp3</a></li>
                                <li><a href="#">videos</a></li>
                                <li><a href="#">concerts</a></li>
                                <li><a href="#">performers</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <a href="#"><%= image_tag "add.gif" %></a>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <a href="#"><%= image_tag "add.gif" %></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->