<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'hall1.jpg' %>);">
    <div class="bradcumbContent" style="background: rgba(0, 0, 0, 0.0)">
        <p>En savoir plus sur moi</p>
        <h2>Biographie</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-100" style="background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
url(<%= asset_path 'dreig.jpg' %>);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9"
                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">Français</div>
                        <!-- Post Meta -->
                        <div class="post-meta d-flex mb-30">
                            <p class="post-author">Anthony Rivera</p>
                            <p class="post-author">Barython Basse</p>
                        </div>
                        <%=raw Bio.first.content %>
                    </div>
                </div>
            </div> 

            <%= render 'staticpage/sidebar' %>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->