<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'breadcumb3.jpg' %>);">
    <div class="bradcumbContent">
        <p>En savoir plus sur moi</p>
        <h2>Biographie</h2>
    </div>
</section>

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9"
                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">English</div>
                        <!-- Post Meta -->
                        <div class="post-meta d-flex mb-30">
                            <p class="post-author">Anthony Rivera</p>
                            <p class="post-author">Barython Basse</p>
                        </div>
                        <!-- Post Excerpt -->
                        <p><em>“A real personality, an artist through and through”</em> (Nuances magazine).</p>
                        <p>Marina was born in Switzerland, her parents both being musicians, and grew up in France. She got a diploma of flute at 17 years old. Curious by nature, she did not only study classical music, but also explored jazz, metal or chanson.</p>
                        <p>After a Master&#8217;s degree for philosophy and literature, she went to Vienna where she started her vocal education with Heidi Brunner in 2011, and continued with Brigitte Balleys in HEMU Lausanne in 2013. She currently works with Raul Gimenez and Alessandra Rossi.</p>
                        <p>Her roles at the opera include : Arsace (Aurelian in Palmira) and Isabella in L’italiana in Algeri at the Rossini festival in Wildbad (DE) and at the Luzerner Theater where she also sang Elisabetta in Maria Stuarda (Donizetti) and La Grande Duchesse de Gerolstein (Offenbach). She sang Dritte Dame in Zauberflöte (Mozart) in Lausanne, Melibea in Il Viaggio a Reims (Liceu Barcelona), Olga in Onegin (Tchaikovsky) swell as Rosina in Il Barbiere di Siviglia (Rossini) at the Opéra du Rhin. Marina debuted in Zürich with Maddalena (Rigoletto), and will also debut in La Scala, Dresden and Münich next season.</p>
                        <p>Marina has also been heard in several concerts as a soloist: El amor brujo (De Falla) with the OSI, Mozart Messe en Ut with Gli Angeli, La Petite Messe solennelle (Rossini), Der Rose Pilgerfahrt (Schumann), Kindertotenlieder (Mahler) with the OCL, Les Nuits d’été (Berlioz) with Macon orchestra.</p>
                        <p>She also is a regular guest of many festivals (Label Suisse, Festival de la Cité, Lavaux Classic) with her recital “Love has no borders”, touring from Switzerland to Brasil and Japan.</p>
                        <p>Marina is lauréate of several Foundations (Mosetti, Migros, Leenards, Weltner…). She recently was a finalist in Operalia Competion, won the first price of the Kattenburg Competition in 2017, the 3d price at the Concours de Genève in 2016, and the International Belcanto Price at the Rossini Festival of Wildbad in 2015.</p>
                        <p>Marina Viotti wants to explore, wants to approach other genres, other people : “with a musical ease, a disarming naturality, she is spinning from one style to the other one.” Reason enough to create new projects including the big repertoire of the opera as well as cabaret, jazz or chanson.</p>
                        <p>&nbsp;</p>
                        <p style="text-align: left !important;">Marina is represented by Hilbert Artist Management (<a href="mailto:krause@hilbert.det">krause@hilbert.de</a>)</p>
                        <p>&nbsp;</p>                        
                    </div>
                </div>

                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">Français</div>
                        <!-- Post Meta -->
                        <div class="post-meta d-flex mb-30">
                            <p class="post-author">Anthony Rivera</p>
                            <p class="post-author">Barython Basse</p>
                        </div>
                        <p><i>Une personnalité dans le plein sens du terme, une artiste jusqu’au bout des ongles, qui n’hésite pas à faire cohabiter des univers a priori totalement étrangers </i>» (Magazine Nuances)</p>
                        <p>Après un diplôme de flûte traversière, Marina Viotti s’essaie au jazz, au gospel, au metal et, un diplôme de hautes études littéraire (hypokhâgnes) en poche, part s’installer à Vienne pour commencer le chant lyrique auprès de Heidi Brunner en 2011. En 2013, elle entre dans la classe de Brigitte Balleys à l’HEMU, où elle obtient un diplôme de soliste. Elle se perfectionne actuellement dans le belcanto auprès de Raul Gimenez à Barcelone.</p>
                        <p>Marina est gagne de nombreux prix dans différents concours : Finaliste du concours Operalia en 2018, 3e prix du Concours de Genève en 2016 ,1er prix au concours Kattenburg à Lausanne en 2017 et et le Prix international du Belcanto au festival Rossini in Wildbad (Allemagne) en 2015. Elle est également lauréate de plusieurs bourses (Migros, Mosetti, Weltner, Leenaards).</p>
                        <p>Ses rôles importants à l’opéra incluent : Arsace (<i>Aureliano in Palmira</i>) et Isabella (<i>L’italienne à Alger</i>) au festival Rossini à Wildbad puis au Théâtre de Lucerne, où elle a également interprété <i>La Grande Duchesse de Gerolstein</i> (Offenbach) et Elisabetta (<i>Marie Stuart</i>); La mère (<i>Amahl</i>, Menotti) à l’Opéra de Lausanne, Rosina (<i>Le Barbier de Séville</i>) et Olga (<i>Onegin</i>) à l’Opéra du Rhin ; Mélibéa (<i>Le Voyage à Reims</i>) au Liceu de Barcelone ; Maddalena (<i>Rigoletto</i>) à l’opéra de Zürich et de Münich . Elle a également fait parti de la troupe des Jeunes solistes du Grand Théâtre de Genève pendant deux ans. A venir : débuts à La Scala, Dresden, Münich, Valencia, Vienne&#8230;</p>
                        <p>Marina Viotti chante la partie d’alto solo dans plusieurs concerts dont, entre autres:<span class="Apple-converted-space"> </span></p>
                        <p><i>Les Motets </i>de Bach, <i>Les Sept Paroles du Christ </i>(Haydn), <i>La Messe en UT </i>(Mozart), les <i>Kindertotenlieder </i>(Mahler) avec l’OCL, Le <i>Stabat Mater</i> (Pergolesi), <i>Der Rose Pilgerfahrt </i>(Schumann), <i>Le Messie</i> (Händel), <i>La petite messe solennelle</i> (Rossini), Le <i>Requiem</i> de Verdi, <i>El amor Brujo</i> (De Falla) avec l’OSI, <i>La Passion de Saint Mathieu</i> (Bach) avec La Scala, ou encore L<i>e Poème de l’amour et de la mer </i>(Chausson) à Bremen.</p>
                        <p>Avec ses programmes diversifiés et ouverts, elle est l’invitée de nombreux festivals (Solothurn Classics, Lavaux Classics, Label Suisse, Festival de la Cité, Tarragona, Périgord Noir), de la France au Japon en passant par l’Espagne ou l’Allemagne, avec notamment les récitals “De Bach à Piaf, chansons d’amour” et “Love has no borders”.</p>
                        <p>Désireuse d’explorer d’autres voies et de rapprocher les genres et les gens, “virevoltant d’un style à l’autre avec un naturel désarmant et une parfaite aisance musicale” Marina créée des projets qui font appel tant au grand répertoire lyrique qu’au cabaret, au jazz ou à la chanson.</p>
                        <p style="text-align: left !important;">Marina est représentée par Hilbert Artist Management (<a href="mailto:krause@hilbert.det">krause@hilbert.de</a>)</p>                       
                    </div>
                </div>
            </div> 

            <div class="col-12 col-lg-3">
                <div class="blog-sidebar-area">

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Categories</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Events &amp; Press</a></li>
                                <li><a href="#">Festivals</a></li>
                                <li><a href="#">Lyfestyle</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Archive</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">February 2018</a></li>
                                <li><a href="#">March 2018</a></li>
                                <li><a href="#">April 2018</a></li>
                                <li><a href="#">May 2018</a></li>
                                <li><a href="#">June 2018</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Tags</h5>
                        </div>
                        <div class="widget-content">
                            <ul class="tags">
                                <li><a href="#">music</a></li>
                                <li><a href="#">events</a></li>
                                <li><a href="#">artists</a></li>
                                <li><a href="#">press</a></li>
                                <li><a href="#">mp3</a></li>
                                <li><a href="#">videos</a></li>
                                <li><a href="#">concerts</a></li>
                                <li><a href="#">performers</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <a href="#"><%= image_tag "add.gif" %></a>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <a href="#"><%= image_tag "add.gif" %></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->