<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'hall2.jpg' %>);">
    <div class="bradcumbContent">
        <p>Ce que je sais chanter</p>
        <h2>Répertoire</h2>
    </div>
</section>

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9"

                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title"><h3>Opera roles (all of them already performed)</div>
                        <!-- Post Excerpt -->
                        <p><strong>L’italiana in Algeria (Rossini) :</strong> Isabella<br />
                        <strong>Il Barbiere di Siviglia (Rossini) :</strong> Rosina<br />
                        <strong>Aureliano in Palmira (Rossini) :</strong> Arsace<br />
                        <strong>Il Viaggio a Reims (Rossini) :</strong> Melibea<br />
                        <strong>The turn of the Screw (Britten):</strong> Mrs Grose<br />
                        <strong>Cosi fan Tutte (Mozart) :</strong> Dorabella<br />
                        <strong>Norma (Bellini) :</strong> Adalgisa<br />
                        <strong>Bianca e Gernando (Bellini) :</strong> Viscardo<br />
                        <strong>L’enfant et les sortilèges (Ravel):</strong> Libellule,Chatte, tasse,mère,écureuil<br />
                        <strong>Die Zauberflöte (Mozart) :</strong> Dritte Dame<br />
                        <strong>Les mamelles de Tiresias (Poulenc) :</strong> La marchande de journaux<br />
                        <strong>Ariadne auf Naxos (Strauss) :</strong> Dryade<br />
                        <strong>Rigoletto (Verdi) :</strong> Maddalena<br />
                        <strong>Faust (Gounod) :</strong> Martha<strong> </strong></p>                      
                    </div>
                </div>

                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">Arias and duets for concerts</div>
                        <!-- Post Meta -->
                        <p><strong>Cenerentola (Rossini) :</strong> Aria + Duo (suave) + Quatuor “Una volta&#8230;.”<br />
                        <strong>La Donna del lago (Rossini) :</strong> Malcolm “Mura felici”<br />
                        <strong>La pucelle d’Orléans (Tchaikovsky) :</strong> Adieu forêts<br />
                        <strong>Pique Dame (Tchaikovsky) :</strong> Pauline Aria + Duo avec Lisa<br />
                        <strong>La Périchole (Offenbach) :</strong> arias<br />
                        <strong>Les Contes d’Hoffman (Offenbach) :</strong> Nicklaus aria (Vois sous l’archet frémissant)<br />
                        <strong>Samson et Dalila (St Saens) :</strong> Mon cœur s’ouvre à ta voix/Amour viens aider ma faiblesse/duo Grand Prêtre<br />
                        <strong>Carmen (Bizet) :</strong> Carmen (arias) + Mercedes : trio/quintett<br />
                        <strong>Werther (Massenet) :</strong> Charlotte arias + duo “N’achevez pas’<br />
                        <strong>Fledermaus (Srauss) :</strong> Orlofsky « Chacun à son goût »<br />
                        <strong>La clémence de Titus (Mozart) :</strong> Parto,parto<br />
                        <strong>Mitridate (Mozart) :</strong> Venga pur (Farnace)<br />
                        <strong>Xerxes (Händel) :</strong> Crude furie<br />
                        <strong>Rosenkavalier (Strauss) :</strong> Octavian (duo and trio)<br />
                        <strong>Rheingold (Wagner) :</strong> Weiche Wotan (Erda)<br />
                        <strong>Les Dialogue des Carmélites (Poulenc) :</strong> La vieille prieure aria<br />
                        <strong>Trouble in Tahiti (Gerschwin) :</strong> What a movie</p>
                    </div>
                </div>

                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">Lieders/Cycles</div>
                        <!-- Post Meta -->
                        <p><strong>Wolf :</strong> Feuerreiter<br />
                        <strong>Weill :</strong> Youkali, Moon of Alabama, Je ne t’aime pas<br />
                        <strong>Strauss :</strong> Befreit<br />
                        <strong>Schubert :</strong> Der Zwerg<br />
                        <strong>Fauré :</strong> Les Berceaux, Automne, Adieu, Chanson d’amour<br />
                        <strong>Duparc :</strong> Chanson triste, L&#8217;invitation au voyage, La vague et la cloche, La vie antérieure<br />
                        <strong>Poulenc :</strong> Montparnasse, Hotel<br />
                        <strong>Barber :</strong> Sure on this shining night, Solitary Hotel<br />
                        <strong>Berio :</strong> Folk Songs<br />
                        <strong>Berg :</strong> Sieben früher lieder<br />
                        <strong>Brahms :</strong> 4 ernste Gesanger, Zigeuner lieder<br />
                        <strong>Rachmaninov :</strong> songs<br />
                        <strong>Tchaikovsky :</strong> songs<br />
                        <strong>Britten :</strong> Cabarett songs<br />
                        <strong>Bolcom :</strong> Song of the black Max<br />
                        <strong>Brel :</strong> Chanson des vieux amants<br />
                        <strong>Piaf :</strong> Padam, Padam<br />
                        <strong>Léo Ferré :</strong> La vie d’artiste<br />
                        <strong>Peggy Lee :</strong> Fever<br />
                        <strong>Gershwin :</strong> Summertime<br />
                        <strong>De Falla :</strong> siete canciones españolas</p>
                    </div>
                </div>

                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">Pieces with orchestra :</div>
                        <!-- Post Meta -->
                        <p><strong>De Falla :</strong> El amor Brujo<br />
                        <strong>Berlioz :</strong> Nuits d’été<br />
                        <strong>Chausson :</strong> Poème de l’amour et de la mer<br />
                        <strong>Wagner :</strong> Wesendonk Lieder<br />
                        <strong>Debussy :</strong> La damoiselle élue<br />
                        <strong>Mahler :</strong> Lieder eines fahrendes Gesellen, Kindertoten lieder<strong> </strong></p>
                    </div>
                </div>

                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">ORATORIO</div>
                        <!-- Post Meta -->
                        <p><strong>Vivaldi :</strong> Nisi Dominus<br />
                        <strong>Bach :</strong> Motets, Oratorio de Noël, Passions<br />
                        <strong>Rossini :</strong> Petite Messe Solennelle<br />
                        <strong>Verdi :</strong> Requiem<br />
                        <strong>Duke Ellington :</strong> Chants sacrés<br />
                        <strong>Haydn :</strong> Les 7 paroles du Christ sur la croix<br />
                        <strong>Beethoven :</strong> Messe en C &#8211; 9th<br />
                        <strong>Pergolesi :</strong> Missa Romana<br />
                        <strong>Honegger :</strong> Le Roi David (Pythonisse)<br />
                        <strong>Duruflé :</strong> Requiem<br />
                        <strong>Mozart :</strong> Messe du Couronnement</p>
                    </div>
                </div>

            </div> 

            <div class="col-12 col-lg-3">
                <div class="blog-sidebar-area">

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Categories</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Events &amp; Press</a></li>
                                <li><a href="#">Festivals</a></li>
                                <li><a href="#">Lyfestyle</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Archive</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">February 2018</a></li>
                                <li><a href="#">March 2018</a></li>
                                <li><a href="#">April 2018</a></li>
                                <li><a href="#">May 2018</a></li>
                                <li><a href="#">June 2018</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <div class="widget-title">
                            <h5>Tags</h5>
                        </div>
                        <div class="widget-content">
                            <ul class="tags">
                                <li><a href="#">music</a></li>
                                <li><a href="#">events</a></li>
                                <li><a href="#">artists</a></li>
                                <li><a href="#">press</a></li>
                                <li><a href="#">mp3</a></li>
                                <li><a href="#">videos</a></li>
                                <li><a href="#">concerts</a></li>
                                <li><a href="#">performers</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <a href="#"><%= image_tag "add.gif" %></a>
                    </div>

                    <!-- Widget Area -->
                    <div class="single-widget-area mb-30">
                        <a href="#"><%= image_tag "add.gif" %></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->