<div class="panel single-accordion">
    <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Ajouter un article
            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
        </a>
    </h6>
    <div id="collapseOne" class="accordion-content collapse show">
        <h2> prévoir le form pour créer les article de press </h2>
    </div>
</div>
