<section class="latest-albums-area section-padding-100 bg-img bg-overlay bg-fixed tonybackimg" >

    <div class="container">

        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-3">
                <div class="featured-artist-thumb">
                    <%= image_tag "anthony_mariage.jpg" %>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-9">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        <p>Sur les planches</p>
                        <h2>Le mariage forcé</h2>
                    </div>
                    <p>Sganarelle, riche quinquagénaire, projette d’épouser la jeune Dorimène. S’inquiétant de la possible infidélité de celle-ci, il consulte un ami, des philosophes et des bohémiennes mais leurs réponses ne font qu’accroître ses doutes sur ce mariage. Les décors en trompe-l’œil, les costumes, l’éclairage aux bougies, donnent à cette comédie ballet toute sa dimension et une magie toute nouvelle et, pourtant, originelle. La spécificité de la forme baroque, son extrême précision, mais aussi son côté percutant et dynamique, rendent la pièce immédiatement accessible au public d’aujourd’hui ; théâtre, farce, danse, musique et chant se mêlent en un jubilatoire divertissement.</p>

                    <div class="col-lg-9 col-md-4 col-xs-6 thumb">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                            <div class="album-thumb">
                                <%= image_tag('mariage_scene.jpg', class: 'zoom img-fluid') %>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <%= content_tag(:a, content_tag(:span,"", class: "icon-play-button"), href:"https://www.youtube.com/watch?v=FcCMtgzqG_c", class: "video--play--btn") %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


