<section class="hero-area">
    <div class="hero-slides owl-carousel">

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(<%= asset_path 'anthony.jpg' %>);"></div>
            <!-- Slide Content -->
            <div class="container">
            <%= render 'layouts/messages' %>
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Bienvenue sur le site d'</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Anthony Rivera <span>Anthony Rivera</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(<%= asset_path 'salle.jpg' %>);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Bienvenue sur le site d'</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Anthony Rivera <span>Anthony Rivera</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>