<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'writing.jpg' %>);">
    <div class="bradcumbContent" style="width: 650px; background: rgba(0, 0, 0, 0.0)">
        <p>Bienvenu sur l espace</p>
        <h2>Administrateur</h2>
    </div>
</section>